*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    background-color: rgb(245, 230, 203);
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 50px;
    box-sizing: border-box;
}

nav {
    margin-top: 5vh;
    height: 70px;
    display: flex;
    align-items: center;
    max-width: 1500px;
    min-width: 700px;
    backdrop-filter: blur(1000px);
    border-radius: 30px;
    width: 100%;
    justify-content: space-between;
    padding-right: 20px;
    background-color: white;
}

.nav {
    display: flex;
    list-style: none;
}

.nav-link {
    color: rgb(48, 29, 29);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.10em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    font-size: 1.48rem;
    font-family: 'Happy Camper', sans-serif;
}

.nav-link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 10px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(37, 22, 22);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-link:hover:after {
    width: 80%;
    left: 10%;
}

.logo {
    margin-right: auto;
    width: 160px;
    margin-left: 10px;
    margin-top: 5px;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

h1, h2{
    font-family: 'Happy Camper', sans-serif;
    margin-right: auto;
    margin-left: auto;
    width: fit-content; 
    margin-top: 8vh;
    font-size: 2.6rem;
    margin-bottom: 5vh;
    color: rgb(34, 67, 34);
}

h2 {
    color: #C25400;
    margin-top: 5vh;
}

/*slider début*/

.block {
    display: flex;
    background-color: white;
    padding: 1em;
    max-width: 1100px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    margin-bottom: 5vh;
}

.slider-img {
    display: none;
    border-radius: 20px;
    height: 200px;
    object-fit: cover;
    width: 100%;
}


h3 {
    margin: 0;
}

@media (min-width: 600px) {
    .block {
        align-items: flex-start;
    }

    img {
        display: block;
        width: 30%;
        margin-right: 1rem;
    }
}

.block {
    display: flex;
    background-color: white;
    padding: 1em;
    max-width: 1000px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    margin-bottom: 5vh;
}

.image-slider {
    position: relative;
    overflow: hidden;
    width: 50%;
    margin-right: 1rem;
    border-radius: 20px;
}

.slider {
    display: flex;
    transition: transform 0.4s ease;
    width: 100%;
}

.slider-img {
    min-width: 100%;
    transition: opacity 0.4s ease;
    display: none;
    border-radius: 20px;
    object-fit: cover;
    height: 100%;
}

.slider-img.active {
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
}

.prev {
    left: 3px;
}

.next {
    right: 5px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media (min-width: 600px) {
    .block {
        align-items: flex-start;
    }

    .image-slider {
        display: block;
    }
}

/*slider fin*/

.block-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-info {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.price {
    font-weight: bold;
}

.persons {
    font-weight: bold;
    color: rgb(34, 67, 34);
}

.reserve-button {
    text-decoration: none;
    background-color: rgb(34, 67, 34);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    margin-right: 10px;
}

.reserve-button:hover {
    background-color: rgb(26, 51, 26);
    transition: 0.4s;
}

.sort-options {
    margin-left: 80px;
    font-family: 'Nunito', sans-serif;
}

.sort-options label {
    font-size: 1.5rem;
    color: rgb(34, 67, 34);
    margin-right: 10px;
    font-family: 'Happy Camper', sans-serif;
}

.sort-options select {
    font-size: 1.2rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid rgb(34, 67, 34);
    background-color: rgb(245, 230, 203);
    color: rgb(34, 67, 34);
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.links-section h3 {
    color: rgb(34, 67, 34);
    margin-bottom: 10px;
    margin-top: 15px;
}