*, *::after, *::before {
    box-sizing: border-box;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 50px;
    box-sizing: border-box;
}

nav {
    margin-top: 5vh;
    height: 70px;
    display: flex;
    align-items: center;
    max-width: 1500px;
    min-width: 700px;
    backdrop-filter: blur(1000px);
    border-radius: 30px;
    width: 100%;
    justify-content: space-between;
    padding-right: 20px;
    background-color: rgb(247, 237, 220);
}

.nav {
    display: flex;
    list-style: none;
}

.nav-link {
    color: rgb(48, 29, 29);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.10em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    font-size: 1.48rem;
    font-family: 'Happy Camper', sans-serif;
}

.nav-link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 10px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(37, 22, 22);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-link:hover:after {
    width: 80%;
    left: 10%;
}

.logo {
    margin-right: auto;
    width: 160px;
    margin-left: 10px;
    margin-top: 5px;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

form {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    background: rgb(247, 237, 220);
    width: 400px;
    color: rgb(34, 67, 34);
    border-radius: 12px;
    padding: 20px;
    margin-top: 15vh;
    margin-bottom: 10vh;
    border: solid 5px #C25400;
}

legend {
    font-size: 30px;
    padding-top: 20px;
    color: rgb(34, 67, 34);
    font-family: 'Happy Camper', sans-serif;
}

input[type="submit"] {
    background-color: rgb(34, 67, 34);
    font-size: 1rem ;
    color: rgb(247, 237, 220);
    border: solid rgb(34, 67, 34) 1.5px;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 20px;
    font-family: 'Happy Camper', sans-serif;
    letter-spacing: 1px;
}

input[type="submit"]:hover {
    color: rgb(34, 67, 34);
    background-color: rgb(247, 237, 220);
    transition: 0.5s;
}

.inputBox {
    position: relative;
    width: 250px;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    border: 1.5px solid rgb(34, 67, 34);
    background: rgb(247, 237, 220);
    border-radius: 5px;
    outline: none;
    color: rgb(34, 67, 34);
    font-size: 1em;
    transition: 0.5s;
}

.inputBox label {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: #C25400;
    transition: 0.5s;
    font-family: "Nunito", sans-serif;
}

.inputBox input:valid ~ label,
.inputBox input:focus ~ label {
    color: rgb(34, 67, 34);
    transform: translateX(10px) translateY(-7px);
    font-size: 0.75em;
    padding: 0 10px;
    background: rgb(247, 237, 220);
    letter-spacing: 0.2em;
}

.inputBox input:valid,
.inputBox input:focus {
    border: 2px solid rgb(34, 67, 34);
}

input[type="date"] {
    color: beige;
    transition: color 0.5s;
}

input[type="date"]:focus {
    color: rgb(34, 67, 34);
}
